test/*.js
dist/
node_modules/
.env
.nyc_output/
.vscode/
test_dir/
.DS_Store
src/extensions/google_client_id.json
.DS_Store
.DS_Store
src/extensions/token.json
src/extensions/google_client_id.json
src/extensions/token.json
src/extensions/session-calendar/google_client_id.json
src/extensions/session-calendar/token.json
src/extensions/attendance/attendance-config.ts
src/extensions/session-calendar/calendar-config.ts
